<!DOCTYPE html>
<html lang="en">
    <head>
        <meta description = "description" content = "Show information of the person">
        <meta name = "author" content = "Susan Liu">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="static/style.css">
        <title>Assignment 6 - Oauth</title>
    </head>

    <body>
        <h1>Person Info</h1>
        <!--<a href='https://accounts.google.com/o/oauth2/v2/auth?response_type=code&client_id=852345851633-h4u7n8tf6u5ge6fujn1d9hu4sv8astui.apps.googleusercontent.com&redirect_uri=https://joining-in.uw.r.appspot.com/oauth&scope=email profile&state=randomran" + mestring + "'>Please follow this link to authorize.</a>-->
        <!--<p>{{data}}</p>
        <p>{{data.resourceName}}</p>-->
        <p>Your JWT is: </p>
        <p>{{data.token}}</p>
    </body>
</html>