<!DOCTYPE html>
<html lang="en">
    <head>
        <meta description = "description" content = "Link page to authorize email">
        <meta name = "author" content = "Susan Liu">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="static/style.css">
        <title>Assignment 8 - Containerize It</title>

    </head>

    <body>
        <h1>Welcome to Assignment 8: Containerize It</h1>
        <p>Welcome! To use this application please navigate to /boats to use this API</p>
    </body>
</html>